<!-- Footer Template -->
<footer>
    <div class="container">
        <div class="footer-logos">
            <a href="/" class="footer-logo">
                <img src="/src/assets/images/primos-logo.png" alt="Primos Logo" class="footer-logo">
            </a>
        </div>
        <div class="footer-content">
            <p>&copy; 2025 PrimosNFT. All rights reserved.</p>
            <div class="footer-social">
                <a href="https://x.com/primosnft" target="_blank" rel="noopener noreferrer" aria-label="X">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="https://t.me/+WVTm5HcUKb80MzYx" target="_blank" rel="noopener noreferrer" aria-label="Telegram">
                    <i class="fa-regular fa-paper-plane"></i>
                </a>
                <a href="https://discord.gg/juCfQCQtRh" target="_blank" rel="noopener noreferrer" aria-label="Discord">
                    <i class="fab fa-discord"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
